
    <h1>Login</h1>
    <%= form_tag '/session', :html => {:class => "forms"}, method: :post do %>
        <h2>Username</h2>
        <div class="form_input_bg"><%= text_field_tag :username, "", class: "form_input_field", :placeholder => "Username" %></div>

        <h2>Password</h2>
        <div class="form_input_bg"><%= password_field_tag :password, "", class: "form_input_field", :placeholder => "Password" %></div>
        <div class="centered_button">
            <%= submit_tag "", :class => 'signin_button' %>
        </div>
    <% end %>
    <div class="centered_button">
        <%= button_to "", '/auth/github', :class => 'signingit_button' %>
    </div>
