<div class="form_container">
    <h1>Login</h1>
    <%= form_tag '/session', :html => {:class => "forms"}, method: :post do %>
        <h2>Username</h2>
        <div class="form_input_bg"><%= text_field_tag :username, "", class: "form_input_field", :placeholder => "Username" %></div>

        <h2>Password</h2>
        <div class="form_input_bg"><%= password_field_tag :password, "", class: "form_input_field", :placeholder => "Password" %></div>

        <%= submit_tag "Login" %>
    <% end %>
    <%= button_to "Signup with GitHub", '/auth/github' %>
</div>