
<%= form_for @user, :html => {:class => "forms"} do |user_form| %>
    <%= render partial: "users/form", locals: {user: @user, user_form: user_form} %>
    <h2 class="indent">Avatar URL</h2>
    <div class="form_input_bg">
        <%= user_form.text_field :avatar_url, :class => "form_input_field" %>
    </div>
    <% if admin? && current_user != @user%>
        <h2 class="indent">Administrator?</h2>
        <%= user_form.check_box :admin, :class => "indent" %>
        
        <h2 class="indent">Karma</h2>
        <div class="form_input_bg">
            <%= user_form.text_field :karma, :class => "form_input_field" %>
        </div>
    <% end %>
    <%= user_form.hidden_field :slug, :value => params[:slug] %><br><br>
    <%= user_form.submit "Update Profile" %>
<% end %>
