
<%= form_for @user, :html => {:class => "forms"} do |user_form| %>
    <%= render partial: "users/form", locals: {user: @user, user_form: user_form} %>
    <h2 class="indent">Avatar URL</h2>
    <div class="form_input_bg">
        <%= user_form.text_field :avatar_url, :class => "form_input_field" %>
    </div>
    <% if admin? %>
        <h2 class="indent">Karma</h2>
        <div class="form_input_bg">
            <%= user_form.text_field :karma, :class => "form_input_field" %>
        </div>
    <% end %>
    <br>
    <div class="centered_button">
        <%= user_form.submit "", :class => "update_button" %>
    </div>
<% end %>
