<div class="errors"><%= display_user_errors(@user).html_safe unless @user.errors.empty? %></div>


<%= form_for @user do |user_form| %>
    <%= render partial: "users/form", locals: {user: @user, user_form: user_form} %>

    <%= user_form.submit "Signup" %>
<% end %>
<%= button_to "Signup with GitHub", '/auth/github' %>