
<hr>
    <h1><%= @user.username %></h1>
    <center>
        <%= @user.display_avatar %>
    </center>
    Posts: <%= @user.posts.count %>
    <br>
    Karma: <%= @user.karma %>
    <% if current_user != @user %>
        <%= link_to "Add Karma", karma_path(user: {slug: @user.slug}), :method => :post %>
    <% end %>

<hr>
<% if @user == current_user || admin? %>
<%= button_to "Edit Profile", edit_user_path(slug: @user.slug), :method => :get %> <%= button_to "Delete Account", user_path(@user.username), :method => :delete, data: {confirm: "You are about to delete this profile. This is NOT a reversable action. Are you sure this is what you want to do?"} %>
<% end %>
