<% if board.errors.any? %>
    <div class="errors_list"><%= board_errors_display(board).html_safe %></div>
<% end %>

<%= form_for [:admin, board] do |board_form| %>
    <h2>Board Title</h2>
    <%= board_form.text_field :title %>

    <h2>Board Description</h2>
    <%= board_form.text_area :description %>

    <h2>Parent Category</h2>
    <%= board_form.collection_select :category_id, categories, :id, :title, {include_blank: 'Select A Category'} %><br><br>
    <%= board_form.submit %>
<% end %>