<% if @board.errors.any? %>
    <div class="errors_list"><%= board_errors_display(@board).html_safe %></div>
<% end %>

<%= form_for @board, :url => admin_boards_path do |board_form| %>
    <%= board_form.label :title %><br>
    <%= board_form.text_field :title %><br><br>

    <%= board_form.label :category_id, "Parent Category" %><br>
    <%= board_form.collection_select :category_id, @categories, :id, :title, {include_blank: 'Select A Category'} %><br><br>
    <%= board_form.submit %>
<% end %>