<div class="forum_tile">
    <%= form_tag board_thread_path(@board_thread), method: "GET" do %>
        <%= label_tag "Search Thread by User:", nil, :class => "post_link" %>
        <%= text_field_tag :q, nil, :class => "search_input_field" %>
        <%= hidden_field_tag :id, @board_thread.id %>
        <%= submit_tag "Search", :class => "search_button" %>
    <% end %>
</div>






<div class="nav_path">PATH: <%= link_to @board_thread.board.category.title, boards_path, :class => 'links' %> >> <%= link_to @board_thread.board.title, board_path(@board_thread.board), :class => 'links' %> >> <%= link_to friendly_title(@board_thread), board_thread_path(@board_thread), :class => 'links' %></div>

<div class="main_header">
    <%= "[LOCKED]" if @board_thread.locked  %><%= @board_thread.title %>
    <div class='locking'>
        <% if admin? %>
                <%= link_to image_tag("#{locked_image(@board_thread)}"), lock_path(@board_thread)%>
        <% end %>
    </div>
</div>
<div class="container">
<% @posts.each do |p| %>
    <div class="row">
        <div class="left">
            <%= p.user.display_avatar %>
            <%= link_to p.poster_username, user_path(p.poster_username), :class => 'post_link' %><br>
            Posts: <%= p.user.posts.count %><br>
            Karma: <%= p.user.karma %>
        </div>
        <div class="middle">
        <div class="button_align_right">
            <% if p.user == current_user || admin? %>
                <%= link_to "Edit", edit_board_thread_post_path(p.board_thread, p), :class => 'post_link', :method => :get  %> | <%= link_to "Delete", board_thread_post_path(p.board_thread, p), :class => 'post_link', data: {confirm: "This action is irreversible. Are you sure you want to delete this post?"}, :method => :delete %> | 
            <% end %>
            <%= link_to "Quote", new_board_thread_post_path(p.board_thread, p, params: {quote: {content: line_breaks(p.content), poster: p.user.username, timestamp: p.created_at}}), :class => 'post_link'%>
        </div>
        <p><%= line_breaks(p.content) %></p>
        <div class="timestamp"><%= created_or_updated_time(p)%></div>
        </div>
    </div>
<% end %>
</div>

<% if !@board_thread.locked %>
    <div class="innerwrapper">
        <div class="forum">
            <div class="forum_bod">
                <div class="quick_reply_header">
                    Quick Reply
                </div>
                <center>
                <%= form_for @board_thread.posts.build, :html => {class: 'forms'}, :url => board_thread_posts_path(@board_thread) do |f| %>
                    <%= f.text_area :content, cols: 180, rows: 10, :class => 'reply_field', :placeholder => "Make a new post . . ." %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :board_thread_id, value: @board_thread.id %><br>
                    <%= f.submit "", :class => 'quick_reply_button'%>
                <% end %>
                </center>
                <hr>
                <div class="centered_button"><%= button_to "", new_board_thread_post_path(board_thread_id: params[:id]), :class => "reply_button", :method => :get %></div>
            </div>
        </div>
    </div>
<% end %>