<table>
    <tr>
        <th>
            <%= @board.title %>
        </th>
    </tr>
    <% @board_threads.each do |t| %>
        <tr>
        <td style="width: 80%;">
            <%= link_to t.title, board_thread_path(t) %>
        </td>
        <td>
            <%= last_post(t).html_safe%>
            <br><br>
            Total Posts: <%= t.posts.count %>
        </td>
        <% if admin? %>
            <td>
                <%= button_to "Delete Thread", board_thread_path(t), :method => :delete %>
            </td>
        <% end %>
        </tr>
    <% end %>
</table>
<br>
<table>
    <tr>
    <td>
        <%= button_to "Create New Thread", new_board_thread_path, params: {board_id: @board.id}, :method => :get %>
    </td>
    </tr>
</table>