
<div class="nav_path">PATH: <%= link_to @board.category.title, boards_path, :class => 'links' %> >> <%= link_to @board.title, board_path(@board), :class => 'links' %></div>

<div class="main_header">
    <%= @board.title %>
</div>
<% @board_threads.each do |t| %>
    <div class="forum_tile">
        <%= "[LOCKED]" if t.locked %><%= link_to friendly_title(t), board_thread_path(t), :class => "board_title" %>
        <div class="thread_information">
            <%= last_post(t).html_safe%>
            <br><br>
            Total Posts: <%= t.posts.count %>
            <br><br>
        <% if admin? %>
            <%= button_to "Move Thread", edit_board_thread_path(t), :method => :get %>
            <%= button_to "Delete Thread", board_thread_path(t), :method => :delete %>
        <% end %>
        </div>
    </div>

<% end %>
<div class="centered_button"><%= button_to "Create New Thread", new_board_thread_path, params: {board_id: @board.id}, :method => :get %></div>
