<div class="quick_reply_header">
    Reply
</div>
<center>
    <%= form_for post, :html => {:class => 'form'}, :url => board_thread_posts_path(board_thread) do |pf| %>
        <%= post_errors(post) %>
        <% if params[:quote] %>
        <%= pf.text_area :content, value: quoted(params[:quote]), :class => 'reply_field'%>
        <% else %>
            <%= pf.text_area :content, :class => 'reply_field' %>
        <% end %>
        <%= pf.hidden_field :user_id, value: current_user.id %>
        <%= pf.hidden_field :post_id, value: post.id %>
        <br>
        <%= pf.submit "", :class => "#{chosen_class(post)}" %>
    <% end %>
</center>


<div class="innerwrapper">
    <div class="forum">
        <div class="forum_bod">
            <div class="nav_path">PATH: <%= link_to board_thread.board.category.title, boards_path, :class => 'links' %> >> <%= link_to board_thread.board.title, board_path(board_thread.board), :class => 'links' %> >> <%= link_to friendly_title(board_thread), board_thread_path(board_thread), :class => 'links' %></div>

            <div class="main_header">
                <%= board_thread.title %>
            </div>
           <div class="container">
           <% board_thread.posts.reverse.each do |p| %>
                <% if p.id %>
                <div class="row">
                    <div class="left">
                        <%= p.user.display_avatar %>
                        <%= link_to p.poster_username, user_path(p.poster_username), :class => "user_links" %><br>
                    </div>
                    <div class="middle">
                    <p><%= line_breaks(p.content) %></p>
                    <% if p.created_at == p.updated_at%>
                        <div class="timestamp">Posted <%= display_full_date_time(p.created_at) %></div>
                    <% elsif p.created_at != p.updated_at %>
                        <div class="timestamp">Edited <%= display_full_date_time(p.updated_at) %></div>
                    <% end %>
                    </div>
                </div>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>