<div class="nav_path">PATH: <%= link_to 'ADMIN PANEL', admin_path, :class => 'links' %> >> <%= link_to 'STATIC CONTROLLER', admin_static_pages_path, :class => 'links' %> >> <%= link_to 'EDIT STATIC', edit_admin_static_page_path(@static_page), :class => 'links'%></div>
<div class="main_header">
    Edit <%= @static_page.title %>
</div>
<%= form_for [:admin, @static_page], :html => {class: 'form'} do |static_page_form| %>
    <%= static_page_errors_display(@static_page) %>
    <%= static_page_form.text_area :content, cols: "50", rows: "20",:class => 'admin_textarea', :placeholder => "##{@static_page.title}" %>
    <div class ="centered_button">
        <%= static_page_form.submit "", :class => "update_button" %>
    </div>
<% end %>