<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Home", root_path %>
      <%= link_to "Rules", "/rules" %>
      <%= link_to "Forum", "/boards" %>
      <%= link_to "Members", "/users" %>

      <% if logged_in? %>
        <%= link_to "Profile", "/users/#{current_user.slug}" %>
        <%= link_to "Logout", "/logout" %>
        <% if admin? %>
          <%= link_to "Admin", '/admin' %>
        <% end %>
        <div class="position_right">
          <%= link_to "Hello, #{current_user.username}!", user_path(current_user.slug), :style => "pointer-events: none;" %>
          <%= current_user.display_mini_avatar %>
        </div>
      <% else %>
        <%= link_to "Login", "/login" %>
        <%= link_to "Register", "/signup" %>
      <% end %>
    </div>
    <% if flash.notice %>
      <%= flash_message.html_safe %>
    <% else %>
      <br><br>
    <% end %>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
