<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render template: 'layouts/navbar' %>
    <% if flash.notice %>
      <%= flash_message.html_safe %>
    <% end %>
    <div class="main">
      <% if @non_forum %>
        <%= render template: 'layouts/login_signup' %>
      <% else %>
        <%= render template: 'layouts/forum' %>
      <% end %>
    </div>
  </body>
</html>
